
/* feat- */
.spaceextra{
  height: 6rem;
  width: 100%;
}

.buttonAndLogoResponsive{
    position: fixed;
    width: 100%;
    height: 5rem;
    z-index: 9999;
    display: none;

}

  /* START SIDEBAR BUTTON */
  
  .hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    margin-inline: 2rem;
    height: 2em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: rgb(244, 244, 244);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .linetopbottom {
    stroke-dasharray: 12 63;
  }
  
  
  .activebura {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  
  .activebur {
    transform: rotate(-45deg);
  }
  
  /* END SIDEBAR BUTTON */

@media screen and (max-width: 768px){
    .linksContainerResponsive{
        transition: all .3s ease-in-out;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        background: rgb(210, 210, 210);
        background: linear-gradient(38deg, rgb(118 132 83 / 66%) 0%, rgb(172 172 172 / 69%) 100%);
        box-shadow: inset 0px 76px 98px -103px rgba(0,0,0,0.75);
        backdrop-filter: blur(10px);
        z-index: 999;
    }

    .linksResponsiveContainer{
        height: auto;
        width: 100%;
    }

    .buttonAndLogoResponsive{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .noActive{
        left: -100%;
    }

    .active{
        left: 0%;
    }

}