@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ejemplo de cómo usar la fuente en tus estilos */
body {
  font-family: 'Teachers', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
label,
input,
select,
button,
ion-icon {
  display: block;
}

input,
select,
button {
  background: none;
  border: none;
  font: inherit;
}

input,
select {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-size: 13px;
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--white);
  font-size: 16px;
  color: var(--cadet-gray);
}
.swal2-popup {
  font-size: 1.1rem !important;
}

.Button_Form {
  @apply rounded-md bg-custom-secondary px-4 py-4 text-white;
}

/* ************************* */
/* Para inputs de tipo phone */
/* ************************* */
.react-international-phone-input,
.react-international-phone-country-selector-button {
  background-color: rgb(229 231 235) !important;
  height: 3.2rem !important;
  padding: 0 1rem !important;
}

/***************/
/* FORMULARIOS */
/***************/
/* label */
.label-form {
  @apply block text-gray-700 font-bold mb-2 text-sm
}

/* input */
.input-form {
  @apply block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-4 px-4 rounded-lg text-base leading-tight focus:outline-none focus:bg-white focus:border-gray-500
}

.input-error {
  @apply text-red-500 mt-2 text-sm
}

/* buttons */
.btn {
  @apply mt-4 rounded-lg px-6 py-3 font-bold
}

.btn-confirm {
  @apply bg-custom-fourth text-custom-primary hover:bg-custom-secondary hover:text-custom-primary
}

.btn-cancel {
  @apply bg-gray-300 hover:bg-gray-300/70
}

/* select  */
.select-form {
  @apply text-gray-600 border border-solid border-gray-400 bg-gray-100 font-bold block p-2.5 rounded-full h-16 text-base pl-4 focus:border-gray-400 focus:ring-1 focus:ring-gray-300 bg-gradient-to-r from-transparent from-60% via-amber-100 via-80% to-green-200 to-90%
}

.select-option {
  @apply bg-gray-100 text-gray-700 font-semibold p-2  hover:bg-gray-300  
}

.search-icon {
  @apply absolute right-4 top-1/2 transform -translate-y-1/2 pointer-events-none text-slate-700 w-10 transition-transform duration-300 group-hover:rotate-45
}
