
.gralContainer{
    margin-block: .6rem;
    width: 100%;
    border-radius: 1.2rem;
    padding: 1rem;
    background: rgb(237,237,237);
    background: linear-gradient(42deg, rgba(237,237,237,1) 0%, rgba(230,230,230,1) 100%);
    border: 1px solid #a2a2a2;
}

@media screen and (max-width: 767px){

    .titleAndContItemsContainer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .itemResponsiveTableContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
    }

    .itemFlexTableContainer{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .itemsContainerAndStatus{
        display: flex;
        flex-direction: row;
        gap: 1.2rem;
        align-items: baseline;
        justify-content: space-between;
    }

    .statusContainer{
        width: 4rem;
    }
}

@media screen and (max-width: 550px){
    .itemResponsiveTableContainer{
        flex-direction: column;
        gap: 1rem;
    }

    .itemFlexTableContainer{
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }
}